<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/auto_redirect.js"></script>
</head>
<body>
	<div style="height: 100vh;" class="container d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h3 class="text-center mb-5">{{.msg}}</h3>
            <a style="width: 80%;" class="btn btn-primary d-block  mx-auto" href="/" role="button">返回主页面</a>
        </div>
	</div>
</body>
</html>
